/*
Instructions
    CSS rule for body element
    CSS rule for .card class
    CSS rule for h1 and p

*/
*{
    box-sizing: border box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: yellow;
    margin: 5px;
    padding: 10px;
}
.card {
    max-width: 600px;
    margin: 2;
    padding: 5px;
    border: 4px solid rgb(255, 0, 251);
}

h1 {
    color:rgb(76, 0, 255);
    font-size: 16px;
    margin: 2px;
}

p {
    color:rgb(37, 3, 3);
    font-size: 10px;
}

