/*
Instructions
    CSS rule for body element
    CSS rule for .card class
    CSS rule for h1 and p

*/
*{box-sizing: border box;}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;
    margin: 5px;
    padding: 10px;
}
.card {
    max-width: 600px;
    margin: 2;
    padding: 5px;
    border-width: 3px;
    border-style: solid;
    border-width: 2;
}

h1 {
    color:aqua;
    font-size: 16px;
    margin: 2px;
}

p {
    color:brown;
    font-size: 10px;
}

